.button
{
  border: 1px solid;
  border-color: #fff #000 #000 #fff;
  background: #ffffe0;
  color: #ccc;
  font-size: 0.7em;
  padding: 0.1em 0.3em;
}

.button a
{
  color: black;
  text-decoration: none;
}

.button-bar
{
  padding: 0.1em 0 0.1em 0.2em;
}

.papers
{
  background: #90ee90;
  margin: 1em;
}

.poems
{
  padding: 1em;
  font-family: monospace;
}